<div class="header">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <div class="col-md-6">
                <h1><a href="" class="title">Spring Blog</a></h1>
            </div>
            <!-- add post button -->
            <div class="col-md-3" *ngIf="authService.isAuthenticated()" >
                <a href="/addpost" class="new-post">Add new Post</a>
            </div>
            <!-- Login and Register -->
            <div class="col-md-3">
                <a href="/login" class="login btn btn-default">Login</a>
                <a href="/register" class="register btn btn-default">Register</a>
            </div>
        </div>
    </div>
</div>

